.left {
    background-color: #8894D5; 
    /* opacity: 0.8; */
    /* filter: alpha(opacity=60); */
    padding-top: 5%;
}

.right{
    background-color: #8894D5; 
    /* opacity: 0.8; */
    /* filter: alpha(opacity=60); */
}

.menu {
    margin-top: 20px;
    /* border: 1px solid rgb(61, 82, 206); */
    background-color: rgb(224, 227, 240);
}

#resto{
    margin-top: 10%;
}

#descr{
    margin-top: 10%;
}

#menu{
    margin-top: 15%;
}

#adresse{
    margin-top: -25px;
}

#tel{   
    margin-top: 15%;
}

#email{
    margin-top: 15%;
}

#menu-resto{
    margin-top: 2%;
    background-color: #8894D5; 
    /* opacity: 0.8; */
    /* filter: alpha(opacity=60); */
}

#button-carte{
    margin-top: 7%;
}

#img{
    width:100%;
}

#btncommande{
    margin-top:3%;
    margin-bottom: 2%;
    margin-right: 2%;
}